{% extends "layout.twig" %}

{% block main_content %}

    <div class="container">
        <div class="card card-block">
            <h4 class="card-title">{%trans%}Current Game Analysis{%endtrans%}</h4>
            <form class="form form-inline mx-auto" action="{{path('current_game_analisis_index')}}" method="GET">
                <select name="region" class="form-control  mb-2 mr-sm-2 mb-sm-0">
                    <option value="euw" selected="selected">EUW</option>
                </select>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="summoner_name" placeholder="Summoner name..." value="{{invocador_buscado?invocador_buscado}}">

                <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                    <label class="form-check-label">
                        <input class="form-check-input" name="force_get_cache" type="checkbox" value="1"> Force get cache
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% if(current_game_analisis) %}
                {% if(current_game_analisis.exception) %}
                    Excepción: {{current_game_analisis.exception.message}}
                {% else %}
                    <p>Analisis de los equipos:</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Campeón</th>
                                <th>Puntuación</th>
                                <th>Progreso</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key in current_game_analisis.aSummoners|keys %}
                                <tr><td colspan="4">{{key==100?'AZUL':'ROJO'}}</td></tr>
                                    {% for summoner in current_game_analisis.aSummoners[key] %}
                                    <tr>
                                        <td>{{summoner.name}}</td>
                                        <td>{{summoner.champion_image|raw}}</td>
                                        <td>{{summoner.totalscore|number_format(2, '.', ',')}}</td>
                                        <td>{% for gameresult in summoner.lastgamesresults.progress %}<div class="gameresult {{gameresult}}"></div>{%endfor%}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>

                    <p>Te encuentras en el equipo {{current_game_analisis.yo_team_id==100?'AZUL':'ROJO'}}.</p>
                    <ul>
                        <li>Score equipo <font color="blue">AZUL</font>: {{current_game_analisis.teamscores[100]|number_format(2, '.', ',')}}</li>
                        <li>Score equipo <font color="red">ROJO</font>: {{current_game_analisis.teamscores[200]|number_format(2, '.', ',')}}</li>
                    </ul>
                    <p>Probabilidad de victoria: {{(current_game_analisis.teamscores[current_game_analisis.yo_team_id]*100/(current_game_analisis.teamscores[100]+current_game_analisis.teamscores[200]))|number_format(2, '.', ',')}}</p>
                {%endif%}
            {%endif%}
        </div>
    </div>
    <style type="text/css">
        .champion_square{
            height:35px;
        }
        .gameresult {
            width:35px;
            height:35px;
            display:inline-block;
        }
        .gameresult.L{
            background-color: red;
        }
        .gameresult.W{
            background-color: green;
        }
    </style>
{% endblock %}
